@import "./base/variables";
@import "./components/header";

/*incio del head*/
*{
    font-family: 'Playfair-Display', sans-serif;
    font-weight: 500 ;
    font-style: inherit; 
    
    }
  
    /*fin del head*/
  
  /*inicio del header*/
  
  h1 { color: rgb(212, 12, 29);
    text-align: center;
    background-color: rgba(170, 225, 250, 0.89); 
  }
    
  .titulo-inicio{
      font-size: 5rem;
      border: 5px rgb(0, 0, 0) double;
      border: none;
      background-color: rgba(170, 225, 250, 0.89);
    
      }  
  
  
  .barra-menu{
    border-color: rgb(0, 0, 0);
  }
    
  
  a{
    text-decoration: none;
  }
  
  ul{ list-style: none;
  }
  
  .caja{
    background-image: url(../img/imagenportada.jpg); /*caja imagen portada de index*/
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; 
  }
  
  /*fin del header*/
  
  /*inicio del main*/
  
  .text-portada{
   font-size: larger;
  color: rgb(11, 11, 12)
  }
  
  /*.caja-candy */
  .caja-candy {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .cajacandy{ /*img de candybar*/
    display: flexbox;
    text-align: center;
    flex-direction: column;
    align-items: center;  
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-bottom: 20px;
    
      
  }
  
  .text-candy{ /*texto de candybar*/
    display: flex;
    height: 15vh;  
    align-items: center;
    width:60%;  
    margin:0 auto;
    gap: 20px;
    font-size: 14px;
    padding: 20px;
        
  }
  
  .container{ /*index*/
    display: flexbox
  
  }
  
  .card{  /*index*/
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .form { /*main contacto*/
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
  }
  
  input,textarea { /*main contacto*/
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }
  
  iframe { /*contacto*/
    width: 100%;
    height: 300px;
    border: 0;
  }
  
  .elementopadre{ /*main producto*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
  }
  
  .tituloprecio{ /*main producto*/
    text-align: center;
  }
  
  
  /*fin del main*/
  
  
  /*inicio del footer*/
  
  .footer{
    background-color: rgb(202, 114, 219);
    text-align: center;
    padding-top: 3rem;
    justify-content: space-between
  }
  
  /*fin del footer*/